.popup-recommendations {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.popup-recommendations-card {
  padding: 10px;
  border-radius: 8px;
}

.popup-recommendations-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}