.product-detail {
  display: flex;
  width: 50vw;
  justify-content: center;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
}

.product-detail > .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-detail-image img{
  height: 280px;
}
